{% extends "wrapper.jinja2" %}

{% block content %}
  {% block edit %}{% endblock %}
  <article class="entry">
    <h2 class="entry-title">{{ article.title }}</h2>
    <section class="entry-timestamp">Posted on {{ article.date }}.</section>
    <section class="entry-body">{{ article.body }}</section>

    {% if request.authenticated_userid %}
      <a href="{{ request.route_path('update', id=article.id) }}">Edit</a>
      <a href="{{ request.route_path('create') }}">New</a>
    {% endif %}
  </article>

{% endblock %}
