{% extends "wrapper.jinja2" %}

{% block content %}
  <section id="input">
    <form action="{{ request.route_path('create') }}" method="POST">
      <input type="text" name="title" placeholder="Title">
      <textarea name="body" placeholder="Body"></textarea>
      <input type="submit" value="Save">
      <input type="hidden"
             name="csrf_token"
             value="{{ request.session.get_csrf_token() }}">
    </form>
  </section>
{% endblock %}
