{% extends "detail.jinja2" %}

{% block edit %}
<section id="input">
  <form action="{{ request.route_path('update', id=article.id) }}" method="POST">
    <input type="text" name="title" value="{{ article.title }}" placeholder="Title">
    <input type="hidden" name="date" value="{{ article.date }}">
    <textarea name="body" placeholder="Body">{{ article.body }}</textarea>
    <input type="submit" value="View">
    <input type="hidden"
           name="csrf_token"
           value="{{ request.session.get_csrf_token() }}">
  </form>
</section>
{% endblock %}
