{% extends "wrapper.jinja2" %}

{% block content %}
<section id="input">
  <form action="{{ request.route_url('update', id=article.id) }}" method="POST">
    <input type="text" name="title" value="{{ article.title }}" placeholder="Title">
    <input type="hidden" name="date" value="{{ article.date }}">
    <textarea name="body" placeholder="Body">{{ article.body }}</textarea>
    <input type="submit" value="Save" disabled="true">
  </form>
</section>
{% endblock %}
